html {
    scroll-behavior: smooth;

}
*{
    user-select: none;
}
a{
    text-decoration: none;
}
h2{
    margin-top: 0;
}
img{
    border-radius: 4px;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column;
}
/* footer - 1st part */
.footer-wrapper{
    background: url('./bg.jpg');
    width: 100%;
    height: 51.25vw;
    background-size: 100%;
}
.footer-wrapper__filter{
    width: 100%;
    height: 51.25vw;
    background: linear-gradient(90deg, rgba(22, 110, 159, 0.518) 0%, rgba(42, 51, 249, 0.7) 37.5%, rgba(165, 49, 160, 0.7) 65.62%, rgba(255, 58, 58, 0.42) 100%);
    display: flex;
    flex-flow: column;
}
nav{
    padding: 60px 120px;
    display: flex;
    margin-bottom: auto;
}
.logo{
    display: flex;
    margin-right: auto;
}
.logo img{
    height: 18px;
    margin: auto;
}
.logo p{
    margin: 0 5px;
    color:white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.nav-item{
    color:white;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
}
.nav-item:hover{
    color:rgb(255, 244, 87)
}
h1{
    color:white;
    text-transform: uppercase;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
}
h1+p{
    color:white;
    text-transform: uppercase;
    margin: 20px auto 8%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* end of footer */
@media (max-width:1550px){
    h1+p{
        font-size: 14px;
    }
    h1{
        font-size: 48px;
    }
    .nav-item{
        font-size: 14px;
    }
    .logo p{
        font-size: 14px;
    }
    .logo img{
        height: 14px;
    }
}
@media (max-width:1200px){
    nav{
        padding: 30px 60px;
    }
}
@media (max-width:1000px){
    h1+p{
        margin-top: 0;
        font-size: 12px;
    }
    h1{
        font-size: 36px;
        margin-bottom: 10px;
    }
}
@media  (max-width:700px){
    .nav-item{
        display: none;
    }
    nav{
        padding: 15px;
    }
    h1+p{
        margin-top: 0;
        font-size: 10px;
        margin-bottom: 5%;
    }
    h1{
        font-size: 24px;
        margin-bottom: 5px;
    }
    .logo p{
        font-size: 10px;
    }
    .logo img{
        height: 10px;
    }
}
.descr{
    width:1200px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.descr-text{
    width: 480px;
    margin: auto 60px auto 60px;
}
.descr-text h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
.descr-text p, .descr-text li{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    text-align: justify;
}
.descr-photo{
    width: 480px;
    height: 275px;
    margin: auto 60px auto 60px;
}
.pros-wrapper{
    background: #2053D5;
    width: 100%;
}
.pros{
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
}
.pros h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    margin-top: 65px;
}
.pros-item{
    margin: 60px 0;
    width: 256px;
    height: 256px;
    display: flex;
    flex-flow: column;
}
.pros-item-number{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 128px;
    line-height: 128px;
    text-align: center;
    color: rgba(255, 255, 255, 0.26);
}
.pros-item-logo{
    width:100px;
    height:100px;
    color: white;
    margin: -70px auto 10px;
}
.material{
    background: url('./strong.svg');
    background-size: 100%;
}
.phone{
    background: url('./phone.svg');
    background-size: 100%;
}
.small{
    background: url('./small.svg');
    background-size: 100%;
}
.easy{
    background: url('./easy.svg');
    background-size: 100%;
}
.pros-item-logo+p{
    margin: 0 auto 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:1200px){
    .pros-item{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:800px){
    .pros{
        padding: 25px;
        min-height: 0px;
    }
    .pros h2{
        margin-top:0;
        font-size: 24px;
    }
    .pros-item{
        margin: 0 auto;
        width: 128px;
        height: 128px;
    }
    .pros-item-number{
        font-size: 64px;
        line-height: 64px;
    }
    .pros-item-logo{
        width:50px;
        height:50px;
        margin: -35px auto 5px;
    }
    .pros-item-logo+p{
        font-size: 10px;
        line-height: 12px;
    }
}
@media (max-width:600px){
    .pros h2{
        font-size: 16px;
    }
    .pros-item{
        width: 128px;
        height: 128px;
        display: flex;
        flex-flow: column;
    }
    .pros-item-number{
        font-size: 64px;
        line-height: 64px;
    }
    .pros-item-logo{
        width:50px;
        height:50px;
        margin: -35px auto 5px;
    }
    .pros-item-logo+p{
        font-size: 10px;
        line-height: 12px;
    }
}
@media (max-width: 320px){
}
.blabla{
    width:1200px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.bla-bla .descr-photo, .bla-bla .descr-text{

}
footer{
    min-height: 100px;
    width: 100%;
    background:#FAFAFA;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
footer .info-container+p{
    margin: auto auto 0;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 37px;
    text-align: center;
    color: #fff;
}
@media (max-width:600px){
    footer p{
        font-size: 10px;
    }
}
@media (max-width: 1200px){
    .blabla, .descr{
        width: 800px;
        height: 450px;
    }
    .descr-text{
        width: 320px;
        margin: auto 15px auto 15px;
    }
    .descr-text h2{
        font-size: 24px;
    }
    .descr-text p, .descr-text li{
        font-size: 13px;
        line-height: 100%;
    }
    .descr-photo{
        width: 364px;
        height: 209px;
        margin: auto 15px auto 15px;
    }
}
@media (max-width: 800px){
    .descr, .blabla{
        flex-flow: column;
        justify-content: center;
        height: 600px;
        width: 400px;
    }
    .descr-text, .descr-photo{
        margin: 15px auto;
    }
}
@media (max-width:400px){
    .descr, .blabla{
        width: 100%;
        height: 550px;
    }
    .descr-text, .descr-photo{
        margin: 10px auto;
    }
    .descr-photo{
        width: 280px;
        height: auto;
    }
    .descr-text{
        width: 280px;
    }
    .descr-text h2{
        font-size: 16px;
    }
    .descr-text p, .descr-text li{
        font-size: 10px;
        line-height: 100%;
    }
}
.info-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
@media (max-width:1200px){
    .info-container{
        width: 800px;
        margin: 50px auto;
    }
}
@media (max-width: 800px){
    .info-container{
        flex-flow: column;
        width: 100%;
    }
}
.info-part h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #101010;
    margin-bottom: 5px;
}
.info-part{
    max-width: 220px;
    margin: 0px auto 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.info-container > div > a{
    display: none;
}
.info-part p,.info-part p a{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    text-align: center;
    margin: 0 auto;
}
.info-container iframe{
    border: 0 !important;
    border-radius: 5px !important;
    margin: 0px auto;
    width: 480px !important;
    height: 275px !important;
}
@media (max-width:1200px){
    .info-container iframe{
        width: 364px !important;
        height: 209px !important;
    }
}
.info-part a{
    text-decoration: none;
}
.system{
    margin:0 auto
}
.info-part:nth-child(2){
    margin: 0 auto;
}
.author{
    display: block;
    width: 100%;
    height: 20px;
    background: #2053D5;
}